.button {
  background-color: rgb(229,138,3); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 0% 7%;
  width: 3% 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align: center;
}

body {
  align: center;
}

#main{
  text-align: center;
  font-size: 2em;
  width: 50%;
  margin: 10% 25%;
}


#awesome {
  text-align: center;
  font-style: oblique;
}
